<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.rbgt.mb.mapper.TestMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.rbgt.mb.domain.Test">
        <id column="id" property="id" />
        <result column="create_time" property="createTime" />
        <result column="created_by" property="createdBy" />
        <result column="last_modified_by" property="lastModifiedBy" />
        <result column="update_time" property="updateTime" />
        <result column="name" property="name" />
        <result column="sex" property="sex" />
        <result column="chat_flag" property="chatFlag" />
        <result column="status" property="status" />
    </resultMap>

    <resultMap id="simpleResultMap" type="com.rbgt.mb.dto.TestDto">
        <result property="status" column="status" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, create_time AS createTime, created_by AS createdBy, last_modified_by AS lastModifiedBy, update_time AS updateTime, name, sex, chat_flag AS chatFlag, status
    </sql>

    <select id="selectMb" resultMap="simpleResultMap">
        select id,status from ms_test
    </select>

</mapper>
